includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    ignoreErrors:
        - '#Call to an undefined method Brick\\Money\\AbstractMoney::multipliedBy#'
        - '#Call to an undefined method Brick\\Money\\AbstractMoney::plus#'
        - '#Call to an undefined method Brick\\Money\\AbstractMoney::minus#'
        - '#Call to an undefined method Brick\\Money\\AbstractMoney::dividedBy#'
        - '#Call to an undefined static method Whitecube\\Price\\Price::PHP#'
        - '#Call to an undefined static method Homeful\\References\\Facades\\References::withEntities#'
        - '#Call to an undefined method Homeful\\References\\Facades\\References::withStartTime#'
        - '#Call to an undefined static method Homeful\\References\\Facades\\References::withExpireTime#'
        - '#Call to an undefined static method Homeful\\References\\Facades\\References::withMetaData#'
        - '#Missing parameter \$entities (array) in call to method Homeful\\References\\Facades\\References::withEntities#'
        - '#Unknown parameter \$input in call to method Homeful\\References\\Facades\\References::withEntities#'
        - '#Expected parameter of type Brick\\Money\\Money\|float,Brick\\Money\\AbstractMoney provided#'
        - '#Undefined variable: \$this#'
        - '#Call to an undefined method Spatie\\Image\\Drivers\\ImageDriver::nonQueued#'
        - '#Static call to instance method Homeful\\#'
        - "#Non-static method 'generateCampaignQRCOde' should not be called statically#"
